* {
    font-family: "Courier New;
}
html {background-color: black}
#allcontent {
    width: 570px;
    margin-left: auto;
    margin-right: auto;
    background-color: #FFFFFF;
}
#header {
    text-align: center;
    margin-top: 140px;
    background-color: #333;
    color: white;
    height: 65px;
    padding-top: 30px;
}
#navi {
    background-color: darkgrey;
    color: #FFFFFF;
    height: 32px;
}
#navi h2 {
    text-align: left;
    padding-left: 50px;
}
#main {
    text-align: center;
    background-color: lightgray;
    width: 292px;
    height: 370px;
    margin: 15px 2px 20px 55px;
    color: #333333;
}
#sidebar {
    text-align: center;
    float: right;
    background-color: darkgrey;
    color: #333333;
    width: 150px;
    height: 370px;
    margin: 19px 55px 20px 2px;
}
.class1 { padding-top: 120px;}
#footer {
    background-color: dimgrey;
    text-align: center;
    color: white;
    clear: both;
    height: 74px;
    padding-top: 20px;
    margin-top: 20px;
}
